body {
  padding-bottom: 30px;
}

#root {
  overflow-x: hidden;
}

.iframe-container {
  box-sizing: border-box;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%; //16x9 ratio

  iframe {
    background-color: lightgray;
    border: none;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.recipe-page {
  //max-width: 8.5in;

  img {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
  }
}

.recipe-view {
  margin-bottom: 1rem;

  img {
    height: 250px;
    object-fit: scale-down;
  }

  @media (max-width: 400px) {
    img {
      height: 175px;
    }
  }
}

.shadow-bottom {
  box-shadow: 0 4px 2px -2px lightgray;
  margin-bottom: 8px;
}

.shadow-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.input-group-prepend > span {
  width: 90px;
}

.max-width-90px {
  max-width: 90px;
}

.min-width-70px {
  min-width: 70px;
}

.min-width-185px {
  min-width: 185px;
}

.touch-action-none {
  touch-action: none
}

@media print {
  @page {
    size: portrait;
  }

  body {
    padding-bottom: 0;
  }

  .iframe-container, .navbar {
    display: none;
  }
}